.homeContainer {
  position: relative;
  width: 100vw;
  height:90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.homeContainer video {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.gridHome{
  margin: 15% 5% 10% 40%;
  position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  
}




.wrapper {
  position: relative;
  perspective: 40em;
  display: grid;
  transform-style: preserve-3d;
}

.card {
  grid-area: 1 / 1;
  height: 150px;
  width: 250px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background: rgba(249, 198, 26, 0.88);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 400;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  cursor: pointer;
}


.card a {
  display: block;
  margin-top: 40px;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 900;
}

.wrapper:before {
  --bw: 9px;
  grid-area: 1 / 1;
  content: '';
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid rgb(175, 104, 91);
  box-sizing: content-box;
}


.wrapper:hover > div,
.wrapper:hover:before {
  transform: none;
  
}


.wrapper > div,
.wrapper:before {
  will-change: transform;
  transition: .3s transform cubic-bezier(.25,.46,.45,1);
  
}

@media only screen and (max-width: 600px) {
  .gridHome {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  .card {
    height: 80px;
    width: 150px;
    padding: 10px;
    text-transform: uppercase;
    backface-visibility: hidden;
   
  }
  .homeContainer video {
    margin-top: 8vh;
    height: 100vh;
    width: 100vh;
    object-fit: fill;
  
  }
  .card a {

    font-size: 20px;
  }
}