.nav ul {
    background-color: black;
   color: white;
   margin: 0;
   align-items: center ;
   

}
.nav ul{
display: flex;
justify-content: space-between;
margin: 2rem;
list-style-type: none;

}

.nav ul li a{
   text-decoration: none;
   color: white;
   margin-left: 2rem;
   

}