.nav ul {
  background-color: black;
  color: white;
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  list-style-type: none;
}


.nav ul li a {
  text-decoration: none;
  color: white;
  margin-left: 2rem;
}

legend,
fieldset,
select,
textarea,
input,
button {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
select,
textarea {
  border: 2px solid #333;
  background-color: white;
  border-radius: 0.25rem;
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}
