.recipeContainer h1{
    text-align: center;
    margin-top: 20px;
}
.recipeContainer{
    text-align: center;
    align-items: center;
}

.recipeContainer input{
    width: 50%;
    margin-left: 25%;
    margin-top: 1rem;
}

