.recipeSingle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 5px;
    
}
.details h2{
  margin-top: 0;
}

.name h1{
  margin-left: 10%;
}

.image img{
    object-fit: cover;
    max-width: 600px;
}


.description p{
  margin-top: 10px;
}
/* Table CSS*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

  .imgFlg{
    position: relative;
    margin-left: 5%;
    width: 80px;
    margin-bottom: -15px;
  }

  .instruction{
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    line-height: 1.5;
  }

 

/* CSS */
.buttonBack {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  touch-action: manipulation;
}

.buttonBack:hover,
.buttonBack:focus-visible{
  --_p: 1px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.buttonBack:active {
  background: var(--color);
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .image img {
    width: 200px;
  }
}
  